[submodule "kernel/src/flanter"]
	path = kernel/src/flanter
	url = https://github.com/mintsuki/flanterm
[submodule "kernel/src/flanterm"]
	path = kernel/src/flanterm
	url = https://github.com/mintsuki/flanterm
